<form action="/node/<%= host %>/<%= port %>/login?next=tree" method="post" target="_blank">
    <input type="hidden" name="password" value="<%= password %>">
    <button class="btn btn-primary" type="submit">
        <i class="fa fa-link"></i> Connect to Jupyter
    </button>
</form>
